{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}


{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div class="container">
        <div class="row" style="height: 150px; "></div>
        <H1 align="center">Sign in</H1>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form action="{{ path('login') }}" method="post">
                    <label for="Email">Email:</label>
                    <input type="Email" id="email" class="form-control" name="_email" value="{{ last_username }}"/>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control"/>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me">
                        <label class="form-check-label" for="remember_me">Remember me </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><button type="submit" class="btn btn-primary" style = "width: 100%">Sign in</button></div>
                    </div>
                        <div class="row ml-auto">
                            <label for="" style="font-size: 12px">Have no account?</label>
                            <a href = "mysite/register" style="font-size: 12px" class="badge badge-light">Sign up</a>
                        </div>

                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>



{% endblock %}
