{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}
    <h1 align="Center">Input Your Email</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                {{ form(form) }}
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% elseif isPerfect == true %}
                    <div class="alert alert-success" role="alert">
                        OK Your password had been changed!!
                        go to login
                    </div>
                {% endif %}
                <a href="http://coursework.com/login" class="badge badge-light ">Log in</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>


{% endblock %}
