{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}

    <h3>OK check your email</h3>
    <a href="http://coursework.com/login" class="badge badge-light "><button class="btn btn-primary">Log in</button></a>
{% endblock %}
