{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 align="Center">Sign up</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            {{ form(form) }}
            <a href="http://coursework.com/login" class="badge badge-light " style = "font-size: 18px;">Log in</a>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>


{% endblock %}
