{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}

    OK your are confirme go to login
    <a href="http://coursework.com/login" class="badge badge-light ">Log in</a>

{% endblock %}
