{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% else %}
        OK your are confirme go to login
    {% endif %}
    <a href="http://coursework.com/login" class="badge badge-light ">Log in</a>
{% endblock %}
