{% extends 'base.html.twig' %}

{% block title %}Hello {{ name }}{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 border border-dark">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Coursework</a>
  </nav>
<p>Hello {{ name }}</p>
<p>You have sent a password reset request.</p>
<p>To restore, click on the button.</p>
<a href="{{ URL }}"><button type="button" class="btn btn-success">Restore</button></a>
<p>Yours truly,
The Coursework Team</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

{% endblock %}