{% extends 'base.html.twig' %}

{% block title %}Hello {{ name }}{% endblock %}

{% block body %}
<nav class="nav nav-dark">
  <a class="nav-link disabled" href="#">CourseWork</a>
</nav>

{% endblock %}