{% extends 'base.html.twig' %}

{% block title %}{{ title }} {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CourseWork</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="http://coursework.com/">All Posts</a>
                <a class="nav-item nav-link" href="http://coursework.com/popular">Popular</a>
                {% if not is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                    <a class="nav-item nav-link" href="#">Preferences</a>"
                {% endif %}
                {% if is_granted("ROLE_BLOGGER") %}
                    <a class="nav-item nav-link" href="#">My Posts</a>
                    <a class="nav-item nav-link" href="#">Create New Post</a>
                {% endif %}
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Menu
                    </button>
                    <div class="dropdown-menu">
                        {% if is_granted('ROLE_USER') %}
                            <a class="dropdown-item" href="/myprofile">My Profile</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="/administration">Administration</a>"
                            {% endif %}
                            <a class="dropdown-item" href="/logout">Logout</a>
                        {% else %}
                            <a class="dropdown-item" href="http://coursework.com/login">Login</a>
                            <a class="dropdown-item" href="http://coursework.com/registration">Register</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

{% endblock %}
